@using ConsumerSupport.Models.Requests
@using Microsoft.AspNetCore.Mvc.Rendering
@model ConsumerSupport.Models.Requests.ChangeRequestViewModel

@{
    ViewData["Title"] = "Edit";
    var changeRequest = (ChangeRequestViewModel) ViewData["changeRequest"];
}

<div>
    @using (Html.BeginForm("Edit", "Requests", FormMethod.Post))
    {
        <div class="form-group">
            <label for="usr">Title:</label>
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new {@class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="form-group">
            <label for="usr">Description:</label>
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <div class="form-group">
            <label for="usr">Deadline Date:</label>
            @Html.EditorFor(m => m.DeadlineDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.DeadlineDate)
        </div>

        <div class="form-group">
            <label for="usr">Deadline Time:</label>
            @Html.EditorFor(m => m.DeadlineTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.DeadlineTime)
        </div>

        <button type="submit" class="btn btn-success">Edit</button>
    }
</div>

